/* BIG AND SMALL SCREEN */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
section {
  height: 100vh;
}
section:nth-child(1) {
  background-color: #f8f8fb;
}
section:nth-child(2) {
  background: rgb(70, 122, 222);
  background: -moz-linear-gradient(
    180deg,
    rgba(70, 122, 222, 0.78) 33%,
    rgba(232, 166, 131, 0.71) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(70, 122, 222, 0.78) 33%,
    rgba(232, 166, 131, 0.71) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(70, 122, 222, 0.78) 33%,
    rgba(232, 166, 131, 0.71) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#467ade",endColorstr="#e8a683",GradientType=1);
}
section:nth-child(3) {
  background: rgb(233, 224, 236);
  background: -moz-linear-gradient(
    125deg,
    rgba(233, 224, 236, 1) 40%,
    rgba(241, 244, 254, 1) 50%,
    rgba(255, 255, 255, 1) 60%
  );
  background: -webkit-linear-gradient(
    125deg,
    rgba(233, 224, 236, 1) 40%,
    rgba(241, 244, 254, 1) 50%,
    rgba(255, 255, 255, 1) 60%
  );
  background: linear-gradient(
    125deg,
    rgba(233, 224, 236, 1) 40%,
    rgba(241, 244, 254, 1) 50%,
    rgba(255, 255, 255, 1) 60%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e9e0ec",endColorstr="#ffffff",GradientType=1);
}
section:nth-child(4) {
  background-color: #f8f8fb;
}
section:nth-child(5) {
  background-color: rgba(252, 211, 184, 0.62);
}
section:nth-child(6) {
  background: rgb(219, 231, 248);
  background: -moz-linear-gradient(
    125deg,
    rgba(219, 231, 248, 1) 0%,
    rgba(250, 242, 240, 1) 100%
  );
  background: -webkit-linear-gradient(
    125deg,
    rgba(219, 231, 248, 1) 0%,
    rgba(250, 242, 240, 1) 100%
  );
  background: linear-gradient(
    125deg,
    rgba(219, 231, 248, 1) 0%,
    rgba(250, 242, 240, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dbe7f8",endColorstr="#faf2f0",GradientType=1);
}

/* SMALL SCREEN */
@media (max-width: 1024px) {
  .topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px 10px 20px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%);
    z-index: 100;
  }
  .menuButton {
    cursor: pointer;
  }
  .drawer {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 99;
  }
  .drawerOverlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,.65);
    backdrop-filter: blur(10px);
    z-index: 98;
    overflow-y: scroll;
  }
  .logo {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 30px;
  }
  .fake {
    width: 1;
    background-color: transparent;
  }
}

/* BIG SCREEN */
@media (min-width: 1024px) {
  .mobile {
    display: none;
  }
  .topbar {
    background-color: red;
  }
  .menu {
    display: none;
  }
}
